@font-face {
  font-family: "IranYekan";
  src: url("../fonts/IRANYEKANLIGHT\(FANUM\).eot") format("eot"),
    url("../fonts/IRANYEKANLIGHT_FANUM_.woff") format("woff"),
    url("../fonts/IRANYEKANLIGHT\(FANUM\).TTF") format("truetype");
  font-weight: normal;
  font-style: normal;
}

